<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Questifty</title>
    </head>
    <body class="bg-body-tertiary" style="overflow: hidden;">
        <header>
            <nav id="nav" class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container">
                    <a class="navbar-brand" href="#">Questify</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ms-auto">
                        <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
                        <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                        <a class="nav-link" href="{{ url_for('admin') }}">Admin</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <section class="qna-body">
            <div class="container">
                <div class="row">
                    <form action="/upload/" method="POST" enctype="multipart/form-data">
                        <div class="col-lg-12 col-sm-10 col-12 upload-main">    
                            <input type="file" name="file" id="file-upload" accept=".pdf,.txt,.pptx" hidden>
                            <div class="qna-info">
                                <div class="qna-info-content">
                                    <div class="icon">
                                        <div>
                                        <i class="fa-solid fa-cloud-arrow-up"></i>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p>Click here to Upload</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-8 col-sm-12">
                            <label for="num_questions" class="fw-semibold">Number of Questions:</label>
                            <select class="form-control fw-semibold" style="margin-left: 5px;  color:black; width: 20%" id="num_questions" name="num_questions">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>
                        </div>
                        <div class="upload">  
                            <div class="uploading-area"></div>
                            <div class="uploaded-area"></div>
                        </div>
                        <div class="row text-center">
                            <div id="gen-body" class="col-lg-6 col-sm-12">
                                <button type="submit" class="btn btn-brand ms-2 gen">Generate</button>
                            </div>
                        </div>
                    </form>
                </div>                
            </div>
        </section>
        <footer id="foot" class="bg-body-tertiary">
            <div class="container">
                <div class="row">
                    <p id="footer" class="mt-2 mb-2 text-black text-center ">Questify Copyright © 2024. All Rights Reserved.</p>
                </div>
            </div>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://kit.fontawesome.com/99a02b1b56.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    </body>
</html>